@import './bootstrap.scss';

:root {
  --header-height: 60px;
  --header-sections: 2;
}

.main {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

input[type='date'].remove_calendar_icon::-webkit-inner-spin-button,
input[type='date'].remove_calendar_icon::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
