{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "printWidth": 180,
  "bracketSpacing": true
}